* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #ffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(BG.png);
    background-size: cover;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
}

.logo {
    width: 140px;
    margin-right: 500px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 400px;
    margin-top: 170px;

}

#about {
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-title {
    display: flex;
    margin: 20px 0 40px;
    justify-content: space-between;
}

.tab-link {
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active-link::after {
    width: 50%;
}

.tab-contant ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contant ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contant {
    display: none;
}

.tab-contant.active-tab {
    display: block;
}



#services {
    padding: 30px 0;
}

.sub-title {
    padding: 40px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 200px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 60px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}


#portfolio {
    padding: 30px 0;
}

.work-1-col-1 {
    flex-basis: 45%;
}

.work-1-col-1 img {
    border-radius: 20px;
    width: 500px;
}

#portfolio {
    padding: 80px 0;
    color: #ababab;
}

.row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.work-1-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}



.work-2-col-1 {
    flex-basis: 35%;
}

.work-2-col-1 img {
    border-radius: 20px;
    width: 500px;
}

#portfolio {
    padding: 80px 0;
    color: #ababab;
}

.row2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.work-2-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}


.work-3-col-1 {
    flex-basis: 35%;
}

.work-3-col-1 img {
    border-radius: 20px;
    width: 500px;
}

#portfolio {
    padding: 80px 0;
    color: #ababab;
}

.row3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;
}

.work-3-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.work-4-col-1 {
    flex-basis: 35%;
}

.work-4-col-1 img {
    border-radius: 20px;
    width: 500px;
}

#portfolio {
    padding: 80px 0;
    color: #ababab;
}

.row4 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-4-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.work-1-col-2 {
    background: #262626;
    padding: 110px 30px;
    text-align: center;
    border-radius: 600px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.work-1-col-2:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.work-2-col-2 {
    background: #262626;
    padding: 90px 30px;
    text-align: center;
    border-radius: 600px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.work-2-col-2:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.work-3-col-2 {
    background: #262626;
    padding: 90px 30px;
    text-align: center;
    border-radius: 600px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.work-3-col-2:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.work-4-col-2 {
    background: #262626;
    padding: 130px 40px;
    text-align: center;
    border-radius: 600px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.work-4-col-2:hover {
    background: #ff004f;
    transform: translateY(-10px);
}

.work-1-col-2 a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.work-2-col-2 a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.work-3-col-2 a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.work-4-col-2 a {
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}




.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: tranform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: block;
    margin: 50px 0;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
}

.btn:hover {
    background: #ff004f;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
    cursor: pointer;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}


nav .fa-solid {
    display: none;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

@media only screen and (max-width: 500px) {
    #header {
        background-image: url(BGimageM.png);
    }

    .header-text {
        margin-top: 125%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 27px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav .fa-solid.fa-bars {
        display: contents;
        cursor: pointer;
    }
    nav{
        align-items: normal;
    }
    .logo{
        margin-right: 150px;
    }



    .about-col-1 img {
        width: 0px;
    }

    .about-col-2 {

        width: 300px;
        flex-basis: 100%;
    }

    .tab-title {
        display: block;
    }

    .tab-link {
        margin-bottom: 20px;
    }

    .work-1-col-1 img {
        width: 300px;
    }

    .work-2-col-1 img {
        width: 300px;
    }

    .work-3-col-1 img {
        width: 300px;
    }

    .work-4-col-1 img {
        width: 300px;
    }

    .row {
        display: block;
    }

    .sub-title {
        font-size: 50px;
    }

    .row1 {
        display: block;
    }

    .work-1-col-2 {
        padding: 30px 30px;
        margin-top: 30px;
        border-radius: 50%;
    }

    .row2 {
        display: block;
    }

    .work-2-col-2 {
        padding: 30px 30px;
        margin-top: 30px;
        border-radius: 50%;
    }

    .row3 {
        display: block;
    }

    .work-3-col-2 {
        padding: 30px 30px;
        margin-top: 30px;
        border-radius: 50%;
    }

    .row4 {
        display: block;
    }

    .work-4-col-2 {
        padding: 30px 30px;
        margin-top: 30px;
        border-radius: 50%;
    }

    #about {
        padding: 0 0;
    }

    #services {
        padding: 0 0;
    }

    #portfolio {
        padding: 0 0;
    }

    #contact {
        padding: 0 0;
    }
}
